@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background: #FAE3D9;    
}
.element{
    display: flex;
    justify-content: space-between;
    background: #BBDED6;
    margin: 20px;
    padding: 30px 0 25px 20px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.element img{
    height: 500px;
}
.text{
    padding: 0 100px;
    background: #61C0BF;
}
.text a{
    text-decoration: none;
}
.description{
    margin: 30px;
    width: 30%;
}
h1{
    background: #FFB6B9;
    margin: 50px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: end;
    font-size: 50px;
}
.logo img{
    width: 300px;
    height: 100px;
    padding: 10px;
}
.menu{
    padding: 10px;
    background: #bbded67d;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.menu li{
    margin: 5px 50px;
}
.menu a{
    text-decoration: none;
    color: rgb(104, 97, 97);
    font-family: 'Montserrat', sans-serif;
}
#count{
    margin: 20px;
}
.txt{
    background: #BBDED6;
    margin: 20px;
    padding: 30px 0 25px 20px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.txt a{
    text-decoration: none;
    color: rgb(251, 246, 246);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background: #61C0BF;
    padding: 10px;
}
.txt h1{
    background: #61C0BF;
    margin: 0;
}
form{
    font-size: 20px;
    margin: 20px;
}
.btn{
    background-color: #61C0BF;
    width: 200px;
    height: 50px;
    font-size: large;
    margin-top: 50px;
}
.wrap li{
    font-size: 20px;
    margin-bottom: 20px;
}
.no{
    background-color: #61C0BF;
    padding: 10px;
}