<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Как придумать надежный пароль</h1>
        <div class="rule">
            <ul>Пароль должен быть сложным, для этого необходимо следовать следующим правилам:
                <li>Пароль должен состоять из восьми или более символов латинского алфавита, содержать заглавные и строчные буквы, цифры. Для усложнения рекомендуем добавить символы и знаки препинания ! @ $ % ^ & * ( ) _ - +</li>
                <li>Нельзя использовать предыдущие пароли.</li>
                <li>Пароль не должен совпадать с логином, именем, датой рождения или фамилией пользователя.</li>
                <li>Избегайте паролей, придуманных на основе словарного слова или состоящих из простых последовательных комбинаций цифр или букв (77777777, 12345678, qwertyuiop и так далее).</li>
                <li>При создании пароля обращайте внимание на подсказку системы. Если пароль слишком простой, система оповестит об этом.</li>
            </ul>
        </div>
    <h4>Автор приложения</h4>
    <h4>Иванов А.Е.</h4>
    <p class="index"><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>